<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <br><section id="contacto" class="section-padding">
        <div class="container">
          <table class="table">
            <thead>
              <tr class="active">
                <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYJI8vGRnB2rDBeorow1TKeyjJ9y5mYRxPqsuJKHIkbmtglyhq" width="160px" height="160px"></td>
                <td> 
                <td><h3>Formato para Solicitud de Mantenimiento Correctivo</h3></td>
                
              <td></td>
              
          </tr>
                  
                  <tr>
                  <tr><h4><kbd>Referencia a la Norma ISO 9001:2015 6.1, 7.1, 7.4, 7.5.1</kbd></h4></tr>
                  
                  
                  <tr><h4><kbd>Referencia a la Norma ISO 14001:2015 6.1</kbd></h4></tr>
                  <tr></tr>
                
                
              </tr>
              <td><h4><kbd>Código: TecNM-AD-PO-001-02</td></h4></kbd></td>
              <td></td>
              <td><h4>
                <td>
                  <h4><kbd>Pagina 1 de 1</kbd></h4></td>
                  <td><h4><kbd>Revision: 0</td>
              </td></h4></kbd></td>
              </td>
              </td>
            </tbody>
            
          </table>
          <div class="row">
            <div class="header-section text-center">
              <h2>Solicitud de Mantenimiento</h2>
              <h4>Realiza una Solicitud</h4>
              <hr class="bottom-line">
            </div><hr>
                
                <table class="table" class="table" style="background-color: #ffff; border-radius: 2dvh;">
                    <thead>
                      <tr>
                        <th scope="col">Folio</th>
                        <th scope="col">Area</th>
                        <th scope="col">Solicitantante</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">Problema</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Sol.</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                      <tr>
                        <th scope="col">{{products.id}}</th>
                        <td scope="col">{{products.area}}</td>
                        <td scope="col">{{products.personal}}</td>
                        <td scope="col">{{products.equipo}}</td>
                        <td scope="col">{{products.problema}}</td>
                        <td scope="col">{{products.estado}}</td>
                        <td scope="col">{{products.fsolicitud}}</td>
                      </tr>
                      
                    </tbody>
                    
                  </table>
            
          </div>
        </div>
      </section>

    
        
        <a href="http://127.0.0.1:8000/">Volver</a>.
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
  </body>
</html>